ul{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
li{
    text-transform: uppercase;
    margin-left:40px ;
}
.parent{
    position: relative;
}
.left-icon{
    position: absolute;
    top: 50%;
}
.right-icon{
    right: 20px;
    top: 50%;
    position: absolute;
}
.inner img{
    width: 100%;
}
.inner-cont{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
.inner{
    position: relative;
}
.inner h4{
    position: absolute;
    top: 30px;
    left: 85px;
    text-transform: capitalize;
}
.firsth3{
    text-transform: capitalize;
    font-size: 30px;
    color: white;
}
.second-h3{
    color: white;
    font-size: 20px;
}
.banner{
    width: 100%;
}
.titles{
    text-align: center;
}
.section-2{
    display: flex;
}
.hot-services{
    width: 250px;
}
.hot-services h3{
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
}
.hot-services h2{
    text-transform: capitalize;
    font-size: 23px;
    margin: 10px 0;
}
.hot-services p{
    opacity: 0.7;
    font-size: 16px;
    margin: 10px 0;
}
.cards{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    margin: 80px;
}
.card h3{
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
}
.card p{
    font-size: 20px;
    margin: 20px 0;
}
.card p:hover{
    color: red;
    transition: 0.8s;
}
.card img:hover{
    transform: scale(3);
    transition: 0.5s;
}
video{
    width: 500px;
}